In [1]:
# this notebook creates a crosstab of heuristic nubmer by facility type
# the main input is v12_link.json

In [2]:
import os
import pandas as pd
import geopandas as gpd

In [3]:
# input and output directories

# directory where the standard network is saved
input_dir = os.path.join('\\..\\..\\..\\..\\Users',
                        'ftsang',
                        'Box',
                        'Modeling and Surveys',
                        'Development',
                        'Travel Model Two Development',
                        'Travel Model Two Network Rebuild',
                        'travel-model-two-networks',
                        'data',
                        'processed',
                        'version_12',
                        'network_standard_v12.03')

# directory where the outputs will be saved
output_dir = os.path.join('\\..\\..\\..\\..\\Users',
                       'ftsang',
                       'Documents',
                       'tm2_network_exploration',
                       'tm2_roadway_QA')

In [4]:
os.listdir(input_dir)

['v12_agency.txt',
 'v12_fare_attributes.txt',
 'v12_fare_rules.txt',
 'v12_frequencies.txt',
 'v12_link.feather',
 'v12_link.json',
 'v12_node.geojson',
 'v12_routes.txt',
 'v12_shape.geojson',
 'v12_shapes.txt',
 'v12_stops.txt',
 'v12_stop_times.txt',
 'v12_trips.txt',
 'working_scenario_v12.pickle']

In [5]:
# read tm2 network link attributes
# the json file v12_link.json
tm2_attrs_df = pd.read_json(os.path.join(input_dir,'v12_link.json'))

In [6]:
# get info for tm2 attributes 
tm2_attrs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2235780 entries, 0 to 2235779
Data columns (total 43 columns):
 #   Column              Dtype
---  ------              -----
 0   access              object
 1   bike_access         object
 2   drive_access        object
 3   fromIntersectionId  object
 4   lanes               object
 5   maxspeed            object
 6   name                object
 7   oneWay              object
 8   ref                 object
 9   roadway             object
 10  shstGeometryId      object
 11  shstReferenceId     object
 12  toIntersectionId    object
 13  u                   object
 14  v                   object
 15  walk_access         object
 16  wayId               object
 17  county              object
 18  model_link_id       int64
 19  A                   int64
 20  B                   int64
 21  rail_traveltime     object
 22  rail_only           object
 23  locationReferences  object
 24  heuristic_num       object
 25  ft_cal              object
 26  ft                  int64
 27  useclass            object
 28  assignable_cal      object
 29  assignable          object
 30  transit             object
 31  id                  object
 32  tollbooth           object
 33  bus_only            object
 34  transit_access      object
 35  managed             object
 36  ML_lanes            object
 37  segment_id          object
 38  ML_tollbooth        object
 39  ML_useclass         object
 40  ML_access           object
 41  ML_egress           object
 42  ML_tollseg          object
dtypes: int64(4), object(39)
memory usage: 733.5+ MB

In [7]:
# look at what facility types are in v12_link.json
tm2_attrs_df['ft'].value_counts()

99    890204
8     600958
7     538675
6      96405
5      58321
4      39109
3       6438
2       2975
1       2695
Name: ft, dtype: int64

In [8]:
# look at the distribution of heuristic number
# what are the 60 withoutheuristic number? follow up later.
tm2_attrs_df['heuristic_num'].value_counts()

17    575932
15    551234
18    342765
11     96867
6      31276
5      20484
4       3782
13      3720
16      2942
2       2528
1        997
7        874
14       737
10       550
          60
8         44
3         38
12        11
9          7
Name: heuristic_num, dtype: int64

In [9]:
# label the facility type
def label_FacilityTypes(series):
    if series ==1:
        return "01-Freeway"
    elif series ==2:
        return "02-Expressway"
    elif series ==3:
        return "03-Ramp"
    elif series ==4:
        return "04-Divided Arterial"
    elif series ==5:
        return "05-Undivided Arterial"
    elif series ==6:
        return "06-Collector"
    elif series ==7:
        return "07-Local"
    elif series ==8:
        return "08-Connectors"
    elif series ==99:
        return "99-Bike/ped"
    else:
        return "Unknown"
    
tm2_attrs_df['ft_label']= tm2_attrs_df['ft'].apply(label_FacilityTypes)

tm2_attrs_df['ft_label'].value_counts()

99-Bike/ped              890204
08-Connectors            600958
07-Local                 538675
06-Collector              96405
05-Undivided Arterial     58321
04-Divided Arterial       39109
03-Ramp                    6438
02-Expressway              2975
01-Freeway                 2695
Name: ft_label, dtype: int64

In [10]:
# label the heuristic
# may still want to refine the label to include corroborated, only data source, etc

def label_HeuristicNumber(series):
    if series ==1:
        return "01-pems"
    elif series ==2:
        return "02-sfcta_min"
    elif series ==3:
        return "03-pems"
    elif series ==4:
        return "04-osm_min"
    elif series ==5:
        return "05-tm2_marin"
    elif series ==6:
        return "06-sfcta_min"
    elif series ==7:
        return "07-osm_min"
    elif series ==8:
        return "08-osm_min"
    elif series ==9:
        return "09-pems"
    elif series ==10:
        return "10-sfcta_min"
    elif series ==11:
        return "11-osm_min"
    elif series ==12:
        return "12-osm_min"
    elif series ==13:
        return "13-osm_min"
    elif series ==14:
        return "14-osm_min"
    elif series ==15:
        return "15-tm2_marin"
    elif series ==16:
        return "16-tom"
    elif series ==17:
        return "17-asserted one"
    elif series ==18:
        return "18-asserted one" 
    else:
        return "Unknown"
    
tm2_attrs_df['heuristic_label']= tm2_attrs_df['heuristic_num'].apply(label_HeuristicNumber)

tm2_attrs_df['heuristic_label'].value_counts()

Unknown            600992
17-asserted one    575932
15-tm2_marin       551234
18-asserted one    342765
11-osm_min          96867
06-sfcta_min        31276
05-tm2_marin        20484
04-osm_min           3782
13-osm_min           3720
16-tom               2942
02-sfcta_min         2528
01-pems               997
07-osm_min            874
14-osm_min            737
10-sfcta_min          550
08-osm_min             44
03-pems                38
12-osm_min             11
09-pems                 7
Name: heuristic_label, dtype: int64

In [11]:
pd.crosstab(tm2_attrs_df.heuristic_label, tm2_attrs_df.ft_label)

ft_label,01-Freeway,02-Expressway,03-Ramp,04-Divided Arterial,05-Undivided Arterial,06-Collector,07-Local,08-Connectors,99-Bike/ped
heuristic_label,,,,,,,,,
01-pems,997,0,0,0,0,0,0,0,0
02-sfcta_min,0,50,11,1992,144,153,112,0,66
03-pems,38,0,0,0,0,0,0,0,0
04-osm_min,944,0,2836,0,0,0,2,0,0
05-tm2_marin,308,1691,810,12378,784,1885,2328,0,300
06-sfcta_min,0,24,9,1109,1972,5174,21624,0,1364
07-osm_min,372,0,499,0,0,0,3,0,0
08-osm_min,9,0,35,0,0,0,0,0,0
09-pems,7,0,0,0,0,0,0,0,0
10-sfcta_min,0,0,0,202,127,215,6,0,0
11-osm_min,0,830,188,8197,43980,828,33959,0,8885
12-osm_min,4,0,6,0,0,0,1,0,0
13-osm_min,0,67,2,912,2554,20,143,0,22
14-osm_min,0,52,0,156,513,3,8,0,5
15-tm2_marin,11,252,1641,13638,7358,83108,394078,0,51148
16-tom,2,2,242,498,885,272,371,0,670
17-asserted one,0,0,1,0,0,0,86038,0,489893
18-asserted one,1,7,158,27,0,4747,0,0,337825
Unknown,2,0,0,0,4,0,2,600958,26

In [12]:
# Create data year label

def label_DataYear(series):
    if series ==1:
        return "2015"
    elif series ==2:
        return "2015"
    elif series ==3:
        return "2015"
    elif series ==4:
        return "2021"
    elif series ==5:
        return "2015"
    elif series ==6:
        return "2015"
    elif series ==7:
        return "2021"
    elif series ==8:
        return "2021"
    elif series ==9:
        return "2015"
    elif series ==10:
        return "2015"
    elif series ==11:
        return "2021"
    elif series ==12:
        return "2021"
    elif series ==13:
        return "2021"
    elif series ==14:
        return "2021"
    elif series ==15:
        return "2015"
    elif series ==16:
        return "2015"
    elif series ==17:
        return "asserted one"
    elif series ==18:
        return "asserted one" 
    else:
        return "Unknown"
    
tm2_attrs_df['NumLanes_DataYear']= tm2_attrs_df['heuristic_num'].apply(label_DataYear)

tm2_attrs_df['NumLanes_DataYear'].value_counts()

asserted one    918697
2015            610056
Unknown         600992
2021            106035
Name: NumLanes_DataYear, dtype: int64

In [13]:
# crosstab data year and facility type 
pd.crosstab(tm2_attrs_df.NumLanes_DataYear, tm2_attrs_df.ft_label)

ft_label,01-Freeway,02-Expressway,03-Ramp,04-Divided Arterial,05-Undivided Arterial,06-Collector,07-Local,08-Connectors,99-Bike/ped
NumLanes_DataYear,,,,,,,,,
2015,1363,2019,2713,29817,11270,90807,418519,0,53548
2021,1329,949,3566,9265,47047,851,34116,0,8912
Unknown,2,0,0,0,4,0,2,600958,26
asserted one,1,7,159,27,0,4747,86038,0,827718

In [14]:
# and by county
pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.crosstab([tm2_attrs_df.county, tm2_attrs_df.NumLanes_DataYear], tm2_attrs_df.ft_label)

ft_label                         01-Freeway  02-Expressway  03-Ramp  \
county        NumLanes_DataYear
Alameda       2015                      308            156      340
              2021                      294             74      728
              Unknown                     1              0        0
              asserted one                0              0       16
Contra Costa  2015                      219            183      257
              2021                      182             31      529
              Unknown                     0              0        0
              asserted one                0              0       10
External      Unknown                     0              0        0
Marin         2015                       74              5       95
              2021                       66              1      214
              Unknown                     1              0        0
              asserted one                0              0        0
Napa          2015                       12            121       63
              2021                       12             14        7
              Unknown                     0              0        0
              asserted one                0              0        9
San Francisco 2015                       27             74       37
              2021                       77             10      150
              Unknown                     0              0        0
              asserted one                0              0        6
San Mateo     2015                      155            163      252
              2021                      157             69      481
              Unknown                     0              0        0
              asserted one                1              0       17
Santa Clara   2015                      337           1146     1333
              2021                      283            664     1026
              Unknown                     0              0        0
              asserted one                0              4       89
Solano        2015                      144            151      115
              2021                      167             84      413
              Unknown                     0              0        0
              asserted one                0              2        1
Sonoma        2015                       87             20      221
              2021                       91              2       18
              Unknown                     0              0        0
              asserted one                0              1       11

ft_label                         04-Divided Arterial  05-Undivided Arterial  \
county        NumLanes_DataYear
Alameda       2015                              8431                   2077
              2021                              1916                  11668
              Unknown                              0                      0
              asserted one                         0                      0
Contra Costa  2015                              4555                   1898
              2021                              1487                   4709
              Unknown                              0                      0
              asserted one                         2                      0
External      Unknown                              0                      0
Marin         2015                               767                    467
              2021                               322                   1412
              Unknown                              0                      0
              asserted one                         0                      0
Napa          2015                                72                    136
              2021                                71                    816
              Unknown                              0                      0
              asserted one                         0                      0
San Francisco 2015                              3384                   2283
              2021                               445                    258
              Unknown                              0                      0
              asserted one                         0                      0
San Mateo     2015                              2354                    651
              2021                              1256                   6021
              Unknown                              0                      0
              asserted one                         0                      0
Santa Clara   2015                              9437                   3271
              2021                              2723                  14912
              Unknown                              0                      4
              asserted one                        25                      0
Solano        2015                               499                    182
              2021                               878                   4230
              Unknown                              0                      0
              asserted one                         0                      0
Sonoma        2015                               318                    305
              2021                               167                   3021
              Unknown                              0                      0
              asserted one                         0                      0

ft_label                         06-Collector  07-Local  08-Connectors  \
county        NumLanes_DataYear
Alameda       2015                      14185     86893              0
              2021                        167      7460              0
              Unknown                       0         1         128068
              asserted one                918     13567              0
Contra Costa  2015                      13446     81231              0
              2021                         52      1465              0
              Unknown                       0         0          89120
              asserted one                617     13645              0
External      Unknown                       0         0             26
Marin         2015                       3450     19185              0
              2021                         48       619              0
              Unknown                       0         1          21684
              asserted one                237      6841              0
Napa          2015                       3384     10764              0
              2021                          2         8              0
              Unknown                       0         0          13388
              asserted one                249      2466              0
San Francisco 2015                       5777     23431              0
              2021                        121       231              0
              Unknown                       0         0          58734
              asserted one                110       996              0
San Mateo     2015                       6396     40539              0
              2021                         75      2326              0
              Unknown                       0         0          62858
              asserted one                321      6722              0
Santa Clara   2015                      24987     91540              0
              2021                        304     11626              0
              Unknown                       0         0         142990
              asserted one               1389     18786              0
Solano        2015                       7875     25112              0
              2021                         34      9000              0
              Unknown                       0         0          40340
              asserted one                407      9870              0
Sonoma        2015                      11307     39824              0
              2021                         48      1381              0
              Unknown                       0         0          43750
              asserted one                499     13145              0

ft_label                         99-Bike/ped
county        NumLanes_DataYear
Alameda       2015                      8174
              2021                      1632
              Unknown                      1
              asserted one            156457
Contra Costa  2015                     10551
              2021                       378
              Unknown                      3
              asserted one            102051
External      Unknown                      2
Marin         2015                      2001
              2021                       202
              Unknown                      0
              asserted one             27191
Napa          2015                       750
              2021                         2
              Unknown                      0
              asserted one             14722
San Francisco 2015                      3221
              2021                       158
              Unknown                     20
              asserted one             33962
San Mateo     2015                      4182
              2021                       636
              Unknown                      0
              asserted one             68250
Santa Clara   2015                     18555
              2021                      4844
              Unknown                      0
              asserted one            309733
Solano        2015                      2887
              2021                       959
              Unknown                      0
              asserted one             54104
Sonoma        2015                      3227
              2021                       101
              Unknown                      0
              asserted one             61248

In [15]:
# crosstab data year and facility type - show percentages 
pd.crosstab(tm2_attrs_df.NumLanes_DataYear, tm2_attrs_df.ft_label).apply(lambda x: x/x.sum(), axis=0)

ft_label,01-Freeway,02-Expressway,03-Ramp,04-Divided Arterial,05-Undivided Arterial,06-Collector,07-Local,08-Connectors,99-Bike/ped
NumLanes_DataYear,,,,,,,,,
2015,0.505751,0.678655,0.421404,0.762408,0.193241,0.941932,0.776942,0.0,0.060153
2021,0.493135,0.318992,0.553899,0.236902,0.806691,0.008827,0.063333,0.0,0.010011
Unknown,0.000742,0.000000,0.000000,0.000000,0.000069,0.000000,0.000004,1.0,0.000029
asserted one,0.000371,0.002353,0.024697,0.000690,0.000000,0.049240,0.159722,0.0,0.929807